<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="eventloader" name="EventLoader" schema="schema/eventloader.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.AgendaView"
            icon="icons/view_agenda.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.agendaView"
            name="%view.name"/>
      <view
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.WhiteBoardView"
            icon="icons/view_decisions_place.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.whiteBoardView"
            name="%view.name.0"/>
      <category
            id="econferenceViews"
            name="%category.name"/>
      <view
            allowMultiple="false"
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.HandRaisingView"
            icon="icons/view_hr.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.handRaisingView"
            name="%view.name.1"/>
      <view
            allowMultiple="false"
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.StoredEventsView"
            icon="icons/view_stored_events.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.storedEventsView"
            name="%view.name.2"/>              
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.description"
            id="it.uniba.di.cdg.xcore.econference.ui.actionSet"
            label="%actionSet.label"
            visible="true">
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.LoadConferenceFromFileAction"
               definitionId="it.uniba.di.cdg.xcore.econference.ui.actions.load"
               icon="icons/action_fileopen.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.loadConferenceFromFileAction"
               label="%action.label"
               menubarPath="file/it.uniba.di.cdg.xcore.econference.ui.menu/additions"
               style="push"
               toolbarPath="new_load_group"
               tooltip="Open an eConference from file"/>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.WizardAction"
               definitionId="it.uniba.di.cdg.xcore.econference.ui.actions.wizard"
               icon="icons/action_wizard.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.WizardAction"
               label="%action.label.new"
               menubarPath="file/it.uniba.di.cdg.xcore.econference.ui.menu/additions"
               style="push"
               toolbarPath="new_load_group"
               tooltip="Open new eConference wizard"/>               
         <menu
               id="it.uniba.di.cdg.xcore.econference.ui.menu"
               label="%menu.label"
               path="file/additions">
            <groupMarker name="additions"/>
         </menu>
      </actionSet>
      <actionSet
            description="%actionSet.description.switchbackends"
            id="it.uniba.di.cdg.xcore.econference.ui.actionSet.SwitchNetwork"
            label="%actionSet.label.switchbackends"
            visible="true">
         <menu
               id="switchNetwork"
               label="%menu.label.switchbackends"
               path="file/additions.1">
               <groupMarker name="additions.1"/>
         </menu>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.SwitchToXMPPBackendRelaunchAction"
               icon="icons/action_jabber_relaunch.png"
               id="it.uniba.di.cdg.xcore.econference.actions.SwitchToXMPPBackendRelaunchAction"
               label="%action.label.xmmp"
               menubarPath="file/switchNetwork/additions.1"
               tooltip="Relaunch eConference switching to the XMPP network">
               <enablement>
                 	<systemProperty name="econference.currentbackend" value="Skype"/> 
               </enablement>
         </action>
          <action
                class="it.uniba.di.cdg.xcore.econference.ui.actions.SwitchToSkypeBackendRelaunchAction"
                icon="icons/action_skype_relaunch.png"
                id="it.uniba.di.cdg.xcore.econference.actions.SwitchToSkypeBackendRelaunchAction"
                label="%action.label.skype"
                menubarPath="file/switchNetwork/additions.1"
                tooltip="Relaunch eConference switching to the Skype network">
				<enablement>
                 	<systemProperty name="econference.currentbackend" value="Jabber"/> 
                </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="it.uniba.di.cdg.xcore.m2m.ui.multiChatPerspective">
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.agendaView"
               moveable="true"
               ratio="0.35"
               relationship="top"
               relative="it.uniba.di.cdg.xcore.m2m.ui.views.chatRoomView"
               showTitle="true"
               standalone="false"
               visible="false"/>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.handRaisingView"
               moveable="true"
               ratio="0.70"
               relationship="bottom"
               relative="it.uniba.di.cdg.xcore.m2m.ui.views.multiChatTalkView"
               showTitle="true"
               standalone="false"
               visible="false"/>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.whiteBoardView"
               moveable="true"
               ratio="0.70"
               relationship="right"
               relative="it.uniba.di.cdg.xcore.m2m.ui.views.multiChatTalkView"
               showTitle="true"
               standalone="false"
               visible="false"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="it.uniba.di.cdg.xcore.ui.perspectives.instantMessengerPerspective">
         <view
               closeable="true"
               id="it.uniba.di.cdg.xcore.econference.ui.views.storedEventsView"
               moveable="true"
               ratio="0.60"
               relationship="right"
               relative="it.uniba.di.cdg.xcore.ui.views.buddyListView"
               showTitle="true"
               standalone="false"
               visible="true"/>
      </perspectiveExtension>      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="xcore.econference.participantContribution"
            objectClass="it.uniba.di.cdg.xcore.m2m.model.IParticipant">
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.MakeScribeAction"
               enablesFor="1"
               icon="icons/view_decisions_place.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.popup.makeScribeAction"
               label="%action.label.0"
               tooltip="%action.tooltip">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <not>
                     <objectState
                           name="specialRole"
                           value="SCRIBE"/>
                  </not>
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.UnMakeScribeAction"
               enablesFor="1"
               icon="icons/view_decisions_place_disabled.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.popup.unMakeScribeAction"
               label="%action.label.1"
               tooltip="%action.tooltip.0">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <objectState
                        name="specialRole"
                        value="SCRIBE"/>
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.RaiseHandAction"
               enablesFor="1"
               icon="icons/action_raise_hand.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.popup.raiseHandAction"
               label="%action.label.2"
               tooltip="%action.tooltip.1">
            <enablement>
               <and>
                  <objectState
                        name="role"
                        value="MODERATOR"/>
                  <objectState
                        name="status"
                        value="JOINED"/>
                  <not>
                     <objectState
                           name="myStatus"
                           value="FROZEN"/>
                  </not>
                  <not>
                     <objectState
                           name="viewIsReadOnly"
                           value="it.uniba.di.cdg.xcore.econference.ui.views.handRaisingView"/>
                  </not>
                  <not>
                     <objectState
                           name="activePerspective"
                           value="it.uniba.di.cdg.econference.planningpoker.PPPerspective">
                     </objectState>
                  </not>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="xcore.econference.questionContribution"
            objectClass="it.uniba.di.cdg.xcore.econference.model.hr.IQuestion">
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.ApproveQuestionAction"
               enablesFor="1"
               icon="icons/action_approve_question.png"
               id="xcore.econference.ui.hr.actions.popup.approveQuestionAction"
               label="%action.label.3"
               tooltip="%action.tooltip.2">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <objectState
                        name="status"
                        value="PENDING"/>
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.RejectQuestionAction"
               enablesFor="1"
               icon="icons/action_reject_question.png"
               id="xcore.econference.ui.hr.actions.popup.rejectQuestionAction"
               label="%action.label.4"
               tooltip="%action.tooltip.3">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <objectState
                        name="status"
                        value="PENDING"/>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="it.uniba.di.cdg.xcore.econference.ui.actions.wizard"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+N">
      </key>
      <key
            commandId="it.uniba.di.cdg.xcore.econference.ui.actions.load"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+L">
      </key>
      <key
            commandId="it.uniba.di.cdg.xcore.econference.ui.commands.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="it.uniba.di.cdg.xcore.econference.ui.actions.WizardAction"
            id="it.uniba.di.cdg.xcore.econference.ui.actions.wizard"
            name="wizard">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="it.uniba.di.cdg.xcore.econference.ui.actions.LoadConferenceFromFileAction"
            id="it.uniba.di.cdg.xcore.econference.ui.actions.load"
            name="load">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="it.uniba.di.cdg.xcore.econference.ui.actions.ExitCommand"
            description="Exits the application"
            id="it.uniba.di.cdg.xcore.econference.ui.commands.exit"
            name="exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File">
            <command
                  commandId="it.uniba.di.cdg.xcore.econference.ui.commands.exit"
                  label="Exit eConference"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="it.uniba.di.cdg.xcore.econference.eventloader">
      <loader
            context="it.uniba.di.cdg.xcore.econference.EConferenceContext"
            contextLoader="it.uniba.di.cdg.xcore.econference.model.ConferenceContextLoader"
            helper="it.uniba.di.cdg.xcore.econference.internal.EConferenceHelper"
            invitationIcon="icons/view_stored_events_join_action_enabled.png"
            organizationIcon="icons/view_stored_events_join_from_file.png"
            pluginID="it.uniba.di.cdg.xcore.econference"
            service="e-conference">
      </loader>
   </extension>


</plugin>
