<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="collaborativeWorkbench"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="it.uniba.di.cdg.collaborativeworkbench.ui.CollaborativeWorkbenchApplication">
         </run>
      </application>
   </extension>
   
   <extension
         id="collaborativeWorkbench"
         point="org.eclipse.core.runtime.products">
      <product
            application="it.uniba.di.cdg.collaborativeworkbench.boot.collaborativeWorkbench"
            name="%product.name">
         <property
               name="windowImages"
               value="cw_16x16.gif,cw_32x32.gif"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="aboutImage"
               value="about_logo.gif"/>
         <property
               name="aboutText"
               value="eConference 3.0.2&#x0A;&#x0A;eConference has been developed by the Collaborative Development Group,&#x0A;Dipartimento di Informatica, University of Bari and it is distributed under the &#x0A;terms of the MIT license. &#x0A;More details on the project homepage at http://cdg.di.uniba.it/projects/econference/ .&#x0A;&#x0A;This software is based upon the Eclipse Rich Client Platform, http://eclipse.org/rcp/ .&#x0A;&#x0A;The Jabber plug-in uses the SMACK library, http://www.jivesoftware.org/smack/ .&#x0A;&#x0A;Eclipse, Built on Eclipse and Eclipse Ready are trademarks of Eclipse Foundation, Inc."/>
         <property
               name="appName"
               value="Collaborative workbench">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="it.uniba.di.cdg.collaborativeworkbench.boot.collaborativeWorkbench"
            name="Collaborative workbench">
         <property
               name="windowImages"
               value="cw_16x16.gif,cw_32x32.gif">
         </property>
         <property
               name="aboutText"
               value="eConference 4.0.2&#x0A;&#x0A;eConference has been developed by the Collaborative Development Group,&#x0A;Dipartimento di Informatica, University of Bari and it is distributed under the &#x0A;terms of the MIT license. &#x0A;More details on the project homepage at http://cdg.di.uniba.it/projects/econference/ .&#x0A;&#x0A;This software is based upon the Eclipse Rich Client Platform, http://eclipse.org/rcp/ .&#x0A;&#x0A;The Jabber plug-in uses the SMACK library, http://www.jivesoftware.org/smack/ .&#x0A;&#x0A;Eclipse, Built on Eclipse and Eclipse Ready are trademarks of Eclipse Foundation, Inc.">
         </property>
         <property
               name="aboutImage"
               value="about_logo.gif">
         </property>
         <property
               name="appName"
               value="Collaborative workbench">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
