<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddy">

         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.ChatAction"
               enablesFor="1"
               icon="icons/action_chat.png"
               id="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.chatAction"
               label="%action.label"
               menubarPath="chatGroup"
               tooltip="%action.tooltip">
            <enablement>
               <not>
                  <objectState
                        name="status"
                        value="OFFLINE"/>
               </not>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.callContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddy">
         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.CallAction"
               enablesFor="1"
               icon="icons/skype-icona16.png"
               id="it.uniba.di.cdg.xcore.one2one.action1"
               label="Call / End Call"
               menubarPath="callGroup"
               tooltip="Answer / Finish a call withl this user">
            <enablement>
               <not>
                  <objectState
                        name="status"
                        value="OFFLINE">
                  </objectState>
               </not>
            </enablement>
         </action>
      </objectContribution>
   </extension>
      
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.uniba.di.cdg.xcore.one2one.ui.ChatPerspective"
            fixed="true"
            icon="icons/persp_chat.png"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatPerspective"
            name="%perspective.name"/>
   </extension>

</plugin>
