<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
         
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddyGroup">

         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.RemoveGroupAction"
               enablesFor="1"
               icon="icons/action_chat.png"
               id="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.removeGroupAction"
               label="Remove group"
               menubarPath="chatGroup"
               tooltip="Remove this group!">
         </action> 
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddyGroup">

         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.RenameGroupAction"
               enablesFor="1"
               icon="icons/action_chat.png"
               id="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.renameGroupAction"
               label="Rename group"
               menubarPath="chatGroup"
               tooltip="Rename this group!">
         </action> 
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddy">

         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.RemoveBuddyAction"
               enablesFor="1"
               icon="icons/action_chat.png"
               id="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.removeBuddyAction"
               label="Remove contact"
               menubarPath="chatGroup"
               tooltip="Remove this user!">
               <enablement>
            <and>
             <not>
                  <objectState
                        name="status"
                        value="OFFLINE">
                  </objectState>
               </not>
              <systemProperty
                    name="econference.currentbackend"
                    value="Jabber">
              </systemProperty>
            </and>            
        
            </enablement>
         </action> 
         
      </objectContribution>
     
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddy">

         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.MoveBuddyAction"
               enablesFor="1"
               icon="icons/action_chat.png"
               id="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.moveBuddyAction"
               label="Move contact"
               menubarPath="chatGroup"
               tooltip="Move this user!">
         </action> 
      </objectContribution>
     
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddy">

         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.RenameBuddyAction"
               enablesFor="1"
               icon="icons/action_chat.png"
               id="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.renameBuddyAction"
               label="Rename contact"
               menubarPath="chatGroup"
               tooltip="Rename this user!">           
         </action> 
      </objectContribution>
     
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddy">
         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.ChatAction"
               enablesFor="1"
               icon="icons/action_chat.png"
               id="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.chatAction"
               label="%action.label"
               menubarPath="chatGroup"
               tooltip="%action.tooltip">
            <enablement>
               <not>
                  <objectState
                        name="status"
                        value="OFFLINE"/>
               </not>
            </enablement>
         </action>
      </objectContribution>
     
      <objectContribution
            adaptable="true"
            id="it.uniba.di.cdg.xcore.one2one.ui.callContribution"
            objectClass="it.uniba.di.cdg.xcore.network.model.IBuddy">
         <action
               class="it.uniba.di.cdg.xcore.one2one.ui.actions.popup.CallAction"
               enablesFor="1"
               icon="icons/skype-icona16.png"
               id="it.uniba.di.cdg.xcore.one2one.action1"
               label="Call"
               menubarPath="callGroup"
               tooltip="Answer / Finish a call with this user">
            <enablement>
            <and>
             <not>
                  <objectState
                        name="status"
                        value="OFFLINE">
                  </objectState>
               </not>
              <systemProperty
                    name="econference.currentbackend"
                    value="Skype">
              </systemProperty>
            </and>            
        
            </enablement>
         </action>
      </objectContribution>
      
   </extension>
      
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.uniba.di.cdg.xcore.one2one.ui.ChatPerspective"
            fixed="true"
            icon="icons/persp_chat.png"
            id="it.uniba.di.cdg.xcore.one2one.ui.chatPerspective"
            name="%perspective.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="it.uniba.di.cdg.xcore.one2one.ChatPlugin">
      </startup>
   </extension>

</plugin>
