<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.AgendaView"
            icon="icons/view_agenda.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.agendaView"
            name="Agenda"/>
      <view
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.WhiteBoardView"
            icon="icons/view_decisions_place.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.whiteBoardView"
            name="Decisions place"/>
      <category
            id="econferenceViews"
            name="eConference views"/>
      <view
            allowMultiple="false"
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.HandRaisingView"
            icon="icons/view_hr.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.handRaisingView"
            name="Hand raising"/>
      <view
            allowMultiple="false"
            category="econferenceViews"
            class="it.uniba.di.cdg.xcore.econference.ui.views.StoredEventsView"
            icon="icons/view_stored_events.png"
            id="it.uniba.di.cdg.xcore.econference.ui.views.storedEventsView"
            name="Events"/>              
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Conference actions"
            id="it.uniba.di.cdg.xcore.econference.ui.actionSet"
            label="Conference actions"
            visible="true">
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.LoadConferenceFromFileAction"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.loadConferenceFromFileAction"
               label="Load configuration ..."
               menubarPath="file/it.uniba.di.cdg.xcore.econference.ui.menu/additions"
               style="push"/>
         <action
  			   class="it.uniba.di.cdg.xcore.econference.ui.actions.WizardAction"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.WizardAction"
               label="New conference"
               menubarPath="file/it.uniba.di.cdg.xcore.econference.ui.menu/additions"
               style="push"/>
         <menu
               id="it.uniba.di.cdg.xcore.econference.ui.menu"
               label="eConference"
               path="file/additions">
            <groupMarker name="additions"/>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="it.uniba.di.cdg.xcore.multichat.ui.multiChatPerspective">
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.agendaView"
               moveable="true"
               ratio="0.35"
               relationship="top"
               relative="it.uniba.di.cdg.xcore.multichat.ui.views.chatRoomView"
               showTitle="true"
               standalone="false"
               visible="false"/>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.handRaisingView"
               moveable="true"
               ratio="0.70"
               relationship="bottom"
               relative="it.uniba.di.cdg.xcore.multichat.ui.views.multiChatTalkView"
               showTitle="true"
               standalone="false"
               visible="false"/>
         <view
               closeable="false"
               id="it.uniba.di.cdg.xcore.econference.ui.views.whiteBoardView"
               moveable="true"
               ratio="0.70"
               relationship="right"
               relative="it.uniba.di.cdg.xcore.multichat.ui.views.multiChatTalkView"
               showTitle="true"
               standalone="false"
               visible="false"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="it.uniba.di.cdg.xcore.ui.perspectives.instantMessengerPerspective">
         <view
               closeable="true"
               id="it.uniba.di.cdg.xcore.econference.ui.views.storedEventsView"
               moveable="true"
               ratio="0.60"
               relationship="right"
               relative="it.uniba.di.cdg.xcore.ui.views.buddyListView"
               showTitle="true"
               standalone="false"
               visible="true"/>
      </perspectiveExtension>      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="xcore.econference.participantContribution"
            objectClass="it.uniba.di.cdg.xcore.multichat.model.IParticipant">
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.MakeScribeAction"
               enablesFor="1"
               icon="icons/view_decisions_place.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.popup.makeScribeAction"
               label="Grant the user scribe privilege"
               tooltip="Permit to this user to edit the whiteboard">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <not>
                     <objectState
                           name="specialRole"
                           value="SCRIBE"/>
                  </not>
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.UnMakeScribeAction"
               enablesFor="1"
               icon="icons/view_decisions_place_disabled.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.popup.unMakeScribeAction"
               label="Revoke the user scribe privilege"
               tooltip="Make this user uncapable of editing the whiteboard">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <objectState
                        name="specialRole"
                        value="SCRIBE"/>
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.RaiseHandAction"
               enablesFor="1"
               icon="icons/action_raise_hand.png"
               id="it.uniba.di.cdg.xcore.econference.ui.actions.popup.raiseHandAction"
               label="Raise hand"
               tooltip="Queue a question to the moderator">
            <enablement>
               <and>
                  <objectState
                        name="role"
                        value="MODERATOR"/>
                  <objectState
                        name="status"
                        value="JOINED"/>
                  <not>
                     <objectState
                           name="myStatus"
                           value="FROZEN"/>
                  </not>
                  <not>
                     <objectState
                           name="viewIsReadOnly"
                           value="it.uniba.di.cdg.xcore.econference.ui.views.handRaisingView"/>
                  </not>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="xcore.econference.questionContribution"
            objectClass="it.uniba.di.cdg.xcore.econference.model.hr.IQuestion">
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.ApproveQuestionAction"
               enablesFor="1"
               icon="icons/action_approve_question.png"
               id="xcore.econference.ui.hr.actions.popup.approveQuestionAction"
               label="Approve"
               tooltip="Approve this question">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <objectState
                        name="status"
                        value="PENDING"/>
               </and>
            </enablement>
         </action>
         <action
               class="it.uniba.di.cdg.xcore.econference.ui.actions.RejectQuestionAction"
               enablesFor="1"
               icon="icons/action_reject_question.png"
               id="xcore.econference.ui.hr.actions.popup.rejectQuestionAction"
               label="Reject"
               tooltip="Reject this question ">
            <enablement>
               <and>
                  <objectState
                        name="myRole"
                        value="MODERATOR"/>
                  <objectState
                        name="status"
                        value="PENDING"/>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="it.uniba.di.cdg.jabber.services">
      <service
            class="it.uniba.di.cdg.xcore.econference.jabber.JabberEConferenceService"
            name="e-conference">
      </service>
   </extension>

	

</plugin>
